* {

    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(315deg, #43cbff 0%, #7788cc 100%);
}
 TABLE {
     border-collapse: collapse;
     text-align: center;
}

TD, TH {
    border: 1px solid black; /* Параметры рамки */
}

.container {
    /*display: none;*/
    background: linear-gradient(90deg, #55f 0%, #88f 100%);
    display: inline-flex;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.container-body {
    position: relative;
    margin-right: 10px;
    justify-content: center;
}

.modal-window {
    justify-content: center;
    position: absolute;
    width: 259px;
    height: 521px;
    display: flex;
    align-items: center;
    margin: 1px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    width: 100%;
    background: #dddddd;
}

.container-left {
    display: flex;
    flex-direction: column;
}

.container-buffer {
}

.container-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.container-info div{
    margin-top: 3px;
    border-radius: 3px;
    text-align: center;
    background: #eee;
}

.pause {
    opacity: 0.8;
}

.hide {
    display: none;
}
